asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==6.0.4
django-otp==1.7.0
docker==7.1.0
gunicorn==25.3.0
idna==3.13
packaging==26.2
pillow==12.2.0
python-dotenv==1.2.2
qrcode==8.2
requests==2.33.1
sqlparse==0.5.5
urllib3==2.6.3
whitenoise==6.12.0
